.form-wrapper {
    display: flex;
    justify-content: center;
}

.form__sign-in {
    border: 1px solid var(--color-second);
    margin-top: 64px;
    padding: 64px;
}

.form__title {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.form__field {
    display: flex;
    margin: 16px 0;
}

.form__field-label {
    display: block;
    margin-right: 8px;
    min-width: 120px;

}

.form__field-input {
    border-radius: 5px;
    padding: 4px 8px;
}

.form__button-wrapper {
    display: flex;
    justify-content: center;
}

.form__button {
    padding: 10px 0;
    width: 100%;
    background-color: var(--color-main);
    color: white;
    font-family: "Caveat";
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
}

.form__link-wrapper {
    margin-top: 16px;

}

.form__link-aditional-text {
    color: var(--color-second)
}

.form__link {
    margin-left: 16px;
    cursor: pointer;
}