@import "./variables.css";
@import "./form.css";

/* FIX MIN HEIGHT IN FORM PAGES */

html,
body,
.container {
  height: 100%;
}

.fix-min-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-grow-1 {
  flex-grow: 1;
}

.center-block {
  display: flex;
  justify-content: center;
}

/* FIX MIN HEIGHT IN FORM PAGES */

.container {
  font-family: "Caveat";
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(57, 57, 57);
}

.header,
.nav,
.nav__list,
.header__image-wrapper,
.cards,
.input__wrapper,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: var(--color-main);
  border-bottom: 0.1rem solid var(--color-second);
  flex-wrap: wrap;
}

.header__image-wrapper,
.input__wrapper {
  margin: 0.8rem;
}

.nav {
  flex-direction: column;
}

.title,
.main-title {
  font-size: 4rem;
  font-weight: 600;
}

.title {
  color: var(--color-second);
}

.logo {
  width: 8rem;
}

.title,
.nav__list {
  margin-left: 1rem;
}

.nav__item {
  margin: 1rem;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.nav__link:hover,
.cards__link:hover {
  text-decoration: underline;
  color: var(--color-second);
}

.glass {
  color: var(--color-second);
  margin-right: 0.5rem;
}

.placeholder {
  background-color: rgb(210, 97, 97);
  border-color: var(--color-second);
  color: white;
  border-radius: 25px;
}

.main-image {
  width: 100%;
}

.main-text-wrapper,
.cards-wrapper {
  margin: 1.5rem;
}

.main-text-wrapper {
  margin-top: 3rem;
}

.main-paragraph {
  padding: 1rem 0 1rem;
  font-size: 1.8rem;
}

.main-paragraph:first-letter {
  font-size: 3rem;
}

.cards-wrapper-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 0.1rem solid var(--color-second);
  border-top: 0.1rem solid var(--color-second);
  padding: 1rem 0;
}

.cards-wrapper {
  display: flex;
  margin-top: 1rem;
}

.cards {
  flex-direction: column;
  margin: 0rem 0.5rem 0rem;
  padding: 0.5rem 0.5rem 0.5rem;
  background-color: white;
  border: solid 1px var(--color-second);
}

.cards:first-child {
  margin-left: 0;
}

.cards:last-child {
  margin-right: 0;
}

.cards:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.cards__image {
  width: 20vw;
}

.cards__title {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.cards__link {
  margin-top: 2rem;
  color: rgb(124, 36, 36);
  align-self: flex-start;
}

.cards__paragraph:first-letter {
  font-size: 1.8rem;
}

.footer {
  background-color: var(--color-main);
  text-align: center;
  flex-direction: column;
  margin-top: 5rem;
  padding-top: 2rem;
}

.footer__title {
  color: white;
  font-size: 3rem;
}

.footer__text {
  font-family: "Roboto";
  color: white;
  font-size: 0.8rem;
  padding: 2rem 0;
}